<a href="https://colab.research.google.com/github/19pa1a0428/PYTHON/blob/master/CSE7235c_Day_01_Pandas_Master_Copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>**Pandas Introduction**</center>
---

<br>

## **Pandas DataFrame**

In [0]:
# import pandas
import pandas as pd

## **Reading data**

In [0]:
# Read data from csv file
ipl = pd.read_csv('matches2008-2016.csv')
ipl_new = pd.read_csv('matches2017.csv')

In [3]:
print(ipl)

    match_id  season        city  ... venue_id          umpire1          umpire2
0     2008_1    2008   Bangalore  ...        7        Asad Rauf      RE Koertzen
1     2008_2    2008  Chandigarh  ...        9        MR Benson       SL Shastri
2     2008_3    2008       Delhi  ...        2        Aleem Dar   GA Pratapkumar
3     2008_4    2008      Mumbai  ...        1         SJ Davis        DJ Harper
4     2008_5    2008     Kolkata  ...        3        BF Bowden      K Hariharan
..       ...     ...         ...  ...      ...              ...              ...
572  2016_56    2016      Raipur  ...       27   A Nand Kishore     BNJ Oxenford
573  2016_57    2016   Bangalore  ...        7     AK Chaudhary  HDPK Dharmasena
574  2016_58    2016       Delhi  ...        2        M Erasmus    C Shamshuddin
575  2016_59    2016       Delhi  ...        2        M Erasmus        CK Nandan
576  2016_60    2016   Bangalore  ...        7  HDPK Dharmasena     BNJ Oxenford

[577 rows x 19 columns]

## **Checking data dimensions**
- use the shape method on data frame to get the dimensions

In [0]:
print(ipl.shape)
print(ipl_new.shape)

(577, 19)
(59, 19)

## **Appending DataFrame**
- We need to append new matches data to the old data using append method

In [0]:
ipl_final = ipl.copy()             # Explicitly creating a copy of ipl. Just to make sure you don't modify your original data
ipl_final = ipl_final.append(ipl_new)
print(ipl_final)

   match_id  season        city        date team1_id team2_id toss_winner  \
0    2008_1    2008   Bangalore  18-04-2008      KKR      RCB         RCB
1    2008_2    2008  Chandigarh  19-04-2008      CSK      KXI         CSK
2    2008_3    2008       Delhi  19-04-2008       RR       DD          RR
3    2008_4    2008      Mumbai  20-04-2008       MI      RCB          MI
4    2008_5    2008     Kolkata  20-04-2008       DC      KKR          DC
5    2008_6    2008      Jaipur  21-04-2008      KXI       RR         KXI
6    2008_7    2008   Hyderabad  22-04-2008       DC       DD          DC
7    2008_8    2008     Chennai  23-04-2008      CSK       MI          MI
8    2008_9    2008   Hyderabad  24-04-2008       DC       RR          RR
9   2008_10    2008  Chandigarh  25-04-2008      KXI       MI          MI
10  2008_11    2008   Bangalore  26-04-2008      RCB       RR          RR
11  2008_12    2008     Chennai  26-04-2008      KKR      CSK         KKR
12  2008_13    2008      Mumbai  27-04-2008       MI       DC          DC
13  2008_14    2008  Chandigarh  27-04-2008       DD      KXI          DD
14  2008_15    2008   Bangalore  28-04-2008      CSK      RCB         CSK
15  2008_16    2008     Kolkata  29-04-2008      KKR       MI         KKR
16  2008_17    2008       Delhi  30-04-2008       DD      RCB         RCB
17  2008_18    2008   Hyderabad  01-05-2008       DC      KXI         KXI
18  2008_19    2008      Jaipur  01-05-2008       RR      KKR          RR
19  2008_20    2008     Chennai  02-05-2008      CSK       DD         CSK
20  2008_21    2008   Hyderabad  25-05-2008       DC      RCB          DC
21  2008_22    2008  Chandigarh  03-05-2008      KXI      KKR         KXI
22  2008_23    2008      Mumbai  04-05-2008       MI       DD          DD
23  2008_24    2008      Jaipur  04-05-2008      CSK       RR         CSK
24  2008_25    2008   Bangalore  05-05-2008      RCB      KXI         KXI
25  2008_26    2008     Chennai  06-05-2008      CSK       DC          DC
26  2008_27    2008      Mumbai  07-05-2008       RR       MI          MI
27  2008_28    2008       Delhi  08-05-2008       DD      CSK         CSK
28  2008_29    2008     Kolkata  08-05-2008      KKR      RCB         KKR
29  2008_30    2008      Jaipur  09-05-2008       DC       RR          RR
..      ...     ...         ...         ...      ...      ...         ...
29  2017_30    2017   Bangalore  27-04-2017      RCB       GL          GL
30  2017_31    2017     Kolkata  28-04-2017       DD      KKR         KKR
31  2017_32    2017  Chandigarh  28-04-2017      SRH      KXI         KXI
32  2017_33    2017        Pune  29-04-2017      RPS      RCB         RCB
33  2017_34    2017      Rajkot  29-04-2017       GL       MI          GL
34  2017_35    2017  Chandigarh  30-04-2017       DD      KXI         KXI
35  2017_36    2017   Hyderabad  30-04-2017      SRH      KKR         KKR
36  2017_37    2017      Mumbai  01-05-2017      RCB       MI         RCB
37  2017_38    2017        Pune  01-05-2017       GL      RPS         RPS
38  2017_39    2017       Delhi  02-05-2017      SRH       DD          DD
39  2017_40    2017     Kolkata  03-05-2017      KKR      RPS         RPS
40  2017_41    2017       Delhi  04-05-2017       GL       DD          DD
41  2017_42    2017   Bangalore  05-05-2017      KXI      RCB         RCB
42  2017_43    2017   Hyderabad  06-05-2017      RPS      SRH         SRH
43  2017_44    2017       Delhi  06-05-2017       MI       DD          DD
44  2017_45    2017   Bangalore  07-05-2017      RCB      KKR         KKR
45  2017_46    2017  Chandigarh  07-05-2017      KXI       GL          GL
46  2017_47    2017   Hyderabad  08-05-2017       MI      SRH          MI
47  2017_48    2017  Chandigarh  09-05-2017      KXI      KKR         KKR
48  2017_49    2017      Kanpur  10-05-2017       GL       DD          DD
49  2017_50    2017      Mumbai  11-05-2017      KXI       MI          MI
50  2017_51    2017       Delhi  12-05-2017       DD      RPS          DD
51  2017_52    2017      Kanpur  13-05-2017       GL      SRH         SRH
52  2017_53    2017     Kolkata  13-05-2017       MI      KKR         KKR
53  2017_54    2017        Pune  14-05-2017      KXI      RPS         RPS
54  2017_55    2017       Delhi  14-05-2017      RCB       DD         RCB
55  2017_56    2017      Mumbai  16-05-2017      RPS       MI          MI
56  2017_57    2017   Bangalore  17-05-2017      SRH      KKR         KKR
57  2017_58    2017   Bangalore  19-05-2017      KKR       MI          MI
58  2017_59    2017   Hyderabad  21-05-2017       MI      RPS          MI

   toss_decision  result  dl_applied winner  win_by_runs  win_by_wickets  \
0          field  normal           0    KKR          140               0
1            bat  normal           0    CSK           33               0
2            bat  normal           0     DD            0               9
3            bat  normal           0    RCB            0               5
4            bat  normal           0    KKR            0               5
5            bat  normal           0     RR            0               6
6            bat  normal           0     DD            0               9
7          field  normal           0    CSK            6               0
8          field  normal           0     RR            0               3
9          field  normal           0    KXI           66               0
10         field  normal           0     RR            0               7
11           bat  normal           0    CSK            0               9
12         field  normal           0     DC            0              10
13           bat  normal           0    KXI            0               4
14           bat  normal           0    CSK           13               0
15           bat  normal           0     MI            0               7
16         field  normal           0     DD           10               0
17         field  normal           0    KXI            0               7
18           bat  normal           0     RR           45               0
19           bat  normal           0     DD            0               8
20           bat  normal           0    RCB            0               5
21           bat  normal           0    KXI            9               0
22         field  normal           0     MI           29               0
23           bat  normal           0     RR            0               8
24         field  normal           0    KXI            0               6
25         field  normal           0     DC            0               7
26         field  normal           0     MI            0               7
27         field  normal           0    CSK            0               4
28           bat  normal           0    KKR            5               0
29         field  normal           0     RR            0               8
..           ...     ...         ...    ...          ...             ...
29         field  normal           0     GL            0               7
30         field  normal           0    KKR            0               7
31         field  normal           0    SRH           26               0
32         field  normal           0    RPS           61               0
33           bat     tie           0     MI            0               0
34         field  normal           0    KXI            0              10
35         field  normal           0    SRH           48               0
36           bat  normal           0     MI            0               5
37         field  normal           0    RPS            0               5
38         field  normal           0     DD            0               6
39         field  normal           0    RPS            0               4
40         field  normal           0     DD            0               7
41         field  normal           0    KXI           19               0
42         field  normal           0    RPS           12               0
43         field  normal           0     MI          146               0
44         field  normal           0    KKR            0               6
45         field  normal           0     GL            0               6
46           bat  normal           0    SRH            0               7
47         field  normal           0    KXI           14               0
48         field  normal           0     DD            0               2
49         field  normal           0    KXI            7               0
50           bat  normal           0     DD            7               0
51         field  normal           0    SRH            0               8
52         field  normal           0     MI            9               0
53         field  normal           0    RPS            0               9
54           bat  normal           0    RCB           10               0
55         field  normal           0    RPS           20               0
56         field  normal           1    KKR            0               7
57         field  normal           0     MI            0               6
58           bat  normal           0     MI            1               0

         player_of_match  player_of_match_id  \
0       Brendon McCullum                82.0
1         Michael Hussey                18.0
2       Farveez Maharoof                60.0
3           Mark Boucher               145.0
4           David Hussey                80.0
5           Shane Watson               175.0
6        Virender Sehwag                46.0
7         Matthew Hayden                 6.0
8           Yusuf Pathan               171.0
9       Kumar Sangakkara                98.0
10          Shane Watson               175.0
11            Jacob Oram                23.0
12        Adam Gilchrist                28.0
13          Simon Katich               105.0
14  Mahendra Singh Dhoni                 1.0
15     Sanath Jayasuriya               117.0
16         Glenn McGrath                50.0
17           Shaun Marsh               106.0
18      Swapnil Asnodkar               166.0
19       Virender Sehwag                46.0
20           Vinay Kumar               153.0
21          Irfan Pathan                96.0
22         Shaun Pollock               121.0
23         Sohail Tanvir               174.0
24           S Sreesanth               100.0
25        Adam Gilchrist                28.0
26          Ashish Nehra               119.0
27  Mahendra Singh Dhoni                 1.0
28        Sourav Ganguly                66.0
29          Yusuf Pathan               171.0
..                   ...                 ...
29            Andrew Tye               535.0
30        Gautam Gambhir                58.0
31           Rashid Khan               634.0
32       Lockie Ferguson               627.0
33         Krunal Pandya               582.0
34        Sandeep Sharma               479.0
35          David Warner               207.0
36          Rohit Sharma                30.0
37            Ben Stokes               625.0
38        Mohammed Shami               647.0
39        Rahul Tripathi               630.0
40          Rishabh Pant               572.0
41        Sandeep Sharma               479.0
42        Jaydev Unadkat               361.0
43         Lendl Simmons               524.0
44          Sunil Narine               437.0
45          Dwayne Smith               124.0
46        Shikhar Dhawan                57.0
47          Mohit Sharma               469.0
48          Shreyas Iyer               537.0
49       Wriddhiman Saha                84.0
50            Karun Nair               458.0
51        Mohammed Siraj               681.0
52         Ambati Rayudu               309.0
53        Jaydev Unadkat               361.0
54         Harshal Patel               456.0
55     Washington Sunder               631.0
56   Nathan Coulter-Nile               484.0
57           Karn Sharma               254.0
58         Krunal Pandya               582.0

                                                venue  venue_id  \
0          M.Chinnaswamy Stadium Bengaluru, Karnataka         7
1   I.S. Bindra Punjab Cricket Association Stadium...         9
2                     Feroz Shah Kotla Stadium, Delhi         2
3               Wankhede Stadium, Mumbai, Maharashtra         1
4           Eden Garden Stadium, Kolkata, West Bengal         3
5          Sawai Man Singh Stadium, Jaipur, Rajasthan         6
6       Rajiv Gandhi International Stadium, Hyderabad         4
7         M.A.Chidambaram Stadium Chennai, Tamil Nadu         5
8       Rajiv Gandhi International Stadium, Hyderabad         4
9   I.S. Bindra Punjab Cricket Association Stadium...         9
10         M.Chinnaswamy Stadium Bengaluru, Karnataka         7
11        M.A.Chidambaram Stadium Chennai, Tamil Nadu         5
12                         Dr DY Patil Sports Academy        10
13  I.S. Bindra Punjab Cricket Association Stadium...         9
14         M.Chinnaswamy Stadium Bengaluru, Karnataka         7
15          Eden Garden Stadium, Kolkata, West Bengal         3
16                    Feroz Shah Kotla Stadium, Delhi         2
17      Rajiv Gandhi International Stadium, Hyderabad         4
18         Sawai Man Singh Stadium, Jaipur, Rajasthan         6
19        M.A.Chidambaram Stadium Chennai, Tamil Nadu         5
20      Rajiv Gandhi International Stadium, Hyderabad         4
21  I.S. Bindra Punjab Cricket Association Stadium...         9
22                         Dr DY Patil Sports Academy        10
23         Sawai Man Singh Stadium, Jaipur, Rajasthan         6
24         M.Chinnaswamy Stadium Bengaluru, Karnataka         7
25        M.A.Chidambaram Stadium Chennai, Tamil Nadu         5
26                         Dr DY Patil Sports Academy        10
27                    Feroz Shah Kotla Stadium, Delhi         2
28          Eden Garden Stadium, Kolkata, West Bengal         3
29         Sawai Man Singh Stadium, Jaipur, Rajasthan         6
..                                                ...       ...
29         M.Chinnaswamy Stadium Bengaluru, Karnataka         7
30          Eden Garden Stadium, Kolkata, West Bengal         3
31  I.S. Bindra Punjab Cricket Association Stadium...         9
32            Maharashtra Cricket Association Stadium        32
33             Saurashtra Cricket Association Stadium        33
34  I.S. Bindra Punjab Cricket Association Stadium...         9
35      Rajiv Gandhi International Stadium, Hyderabad         4
36              Wankhede Stadium, Mumbai, Maharashtra         1
37            Maharashtra Cricket Association Stadium        32
38                    Feroz Shah Kotla Stadium, Delhi         2
39          Eden Garden Stadium, Kolkata, West Bengal         3
40                    Feroz Shah Kotla Stadium, Delhi         2
41         M.Chinnaswamy Stadium Bengaluru, Karnataka         7
42      Rajiv Gandhi International Stadium, Hyderabad         4
43                    Feroz Shah Kotla Stadium, Delhi         2
44         M.Chinnaswamy Stadium Bengaluru, Karnataka         7
45  I.S. Bindra Punjab Cricket Association Stadium...         9
46      Rajiv Gandhi International Stadium, Hyderabad         4
47  I.S. Bindra Punjab Cricket Association Stadium...         9
48                                         Green Park        34
49              Wankhede Stadium, Mumbai, Maharashtra         1
50                    Feroz Shah Kotla Stadium, Delhi         2
51                                         Green Park        34
52          Eden Garden Stadium, Kolkata, West Bengal         3
53            Maharashtra Cricket Association Stadium        32
54                    Feroz Shah Kotla Stadium, Delhi         2
55              Wankhede Stadium, Mumbai, Maharashtra         1
56         M.Chinnaswamy Stadium Bengaluru, Karnataka         7
57         M.Chinnaswamy Stadium Bengaluru, Karnataka         7
58      Rajiv Gandhi International Stadium, Hyderabad         4

                  umpire1         umpire2
0               Asad Rauf     RE Koertzen
1               MR Benson      SL Shastri
2               Aleem Dar  GA Pratapkumar
3                SJ Davis       DJ Harper
4               BF Bowden     K Hariharan
5               Aleem Dar       RB Tiffin
6               IL Howell       AM Saheba
7               DJ Harper  GA Pratapkumar
8               Asad Rauf       MR Benson
9               Aleem Dar       AM Saheba
10              MR Benson       IL Howell
11              BF Bowden  AV Jayaprakash
12              Asad Rauf      SL Shastri
13            RE Koertzen       I Shivram
14            BR Doctrove       RB Tiffin
15              BF Bowden  AV Jayaprakash
16              Aleem Dar       I Shivram
17            BR Doctrove       RB Tiffin
18            RE Koertzen  GA Pratapkumar
19              BF Bowden     K Hariharan
20              Asad Rauf     RE Koertzen
21              DJ Harper       I Shivram
22              IL Howell     RE Koertzen
23              Asad Rauf  AV Jayaprakash
24               SJ Davis     BR Doctrove
25              MR Benson       RB Tiffin
26              DJ Harper     RE Koertzen
27              Aleem Dar       RB Tiffin
28              Asad Rauf       IL Howell
29              MR Benson       AM Saheba
..                    ...             ...
29           AK Chaudhary   C Shamshuddin
30               NJ Llong          S Ravi
31            Nitin Menon       CK Nandan
32  KN Ananthapadmanabhan       M Erasmus
33           AK Chaudhary     CB Gaffaney
34               YC Barde       CK Nandan
35            AY Dandekar          S Ravi
36           AK Chaudhary     CB Gaffaney
37              M Erasmus   C Shamshuddin
38               YC Barde     Nitin Menon
39  KN Ananthapadmanabhan  A Nand Kishore
40              M Erasmus     Nitin Menon
41            CB Gaffaney   C Shamshuddin
42  KN Ananthapadmanabhan    AK Chaudhary
43            Nitin Menon       CK Nandan
44            AY Dandekar   C Shamshuddin
45         A Nand Kishore       VK Sharma
46  KN Ananthapadmanabhan       M Erasmus
47         A Nand Kishore          S Ravi
48               YC Barde    AK Chaudhary
49             A Deshmukh  A Nand Kishore
50  KN Ananthapadmanabhan       CK Nandan
51           AK Chaudhary     Nitin Menon
52         A Nand Kishore          S Ravi
53            AY Dandekar      A Deshmukh
54              CK Nandan   C Shamshuddin
55                 S Ravi   C Shamshuddin
56           AK Chaudhary     Nitin Menon
57               NJ Llong     Nitin Menon
58               NJ Llong          S Ravi

[636 rows x 19 columns]

## **Data Inspection**

In [0]:
## .shape gives dimentions of Data
print(ipl_final.shape)                            # dim() in R - Dimentions of data

(636, 19)

In [0]:
## Getting top 3 rows usig head method
ipl_final.head(3)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar

In [0]:
## .columns gives column names
print(ipl_final.columns)                          # colnames() in R - Column Namesprint(list(df.index)[:10])

Index(['match_id', 'season', 'city', 'date', 'team1_id', 'team2_id',
       'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner',
       'win_by_runs', 'win_by_wickets', 'player_of_match',
       'player_of_match_id', 'venue', 'venue_id', 'umpire1', 'umpire2'],
      dtype='object')

In [0]:
## .dtypes gives data types for each column
print(ipl_final.dtypes)                           # str() in R - Data types

match_id               object
season                  int64
city                   object
date                   object
team1_id               object
team2_id               object
toss_winner            object
toss_decision          object
result                 object
dl_applied              int64
winner                 object
win_by_runs             int64
win_by_wickets          int64
player_of_match        object
player_of_match_id    float64
venue                  object
venue_id                int64
umpire1                object
umpire2                object
dtype: object

<br><br>
## **Seting match_id as row index** (rarely used)

In [0]:
ipl_final.set_index(['match_id'],inplace=True)
ipl_final.head(3)

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
match_id,,,,,,,,,,,,,,,,,,
2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar

## **Summary statistics**
- using the describe method

In [0]:
ipl.describe()

,season,dl_applied,win_by_runs,win_by_wickets,player_of_match_id,venue_id
count,577.000000,577.000000,577.000000,577.000000,574.000000,577.000000
mean,2012.029463,0.025997,13.715771,3.363951,187.937282,10.097054
std,2.486247,0.159263,23.619282,3.416049,163.146706,9.048535
min,2008.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2010.000000,0.000000,0.000000,0.000000,59.250000,3.000000
50%,2012.000000,0.000000,0.000000,3.000000,146.500000,7.000000
75%,2014.000000,0.000000,20.000000,6.000000,279.250000,14.000000
max,2016.000000,1.000000,144.000000,10.000000,691.000000,34.000000

## **Dropping columns**
- using the drop method

In [0]:
# Dropping Column
ipl_final.drop(['venue_id'], axis=1, inplace=True)    # Axis = 1 for columns

ipl.head(3)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar

## **Dropping row**

In [0]:
# Dropping rows
ipl_final.drop(['2008_1','2009_1','2010_1'], axis=0, inplace=True)  # axis = 0 for rows and axis=1 for columns

ipl.head(3)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar

## **Frequency distribution**
- using method value_counts for getting the distribution of values for categories

In [0]:
ipl_final['winner'].value_counts()       # table() in R - Frequency count

MI     91
CSK    79
KKR    75
RCB    73
KXI    70
RR     63
DD     62
SRH    42
DC     29
RPS    15
GL     13
PW     12
KTK     6
Name: winner, dtype: int64

## **loc (to subset data by Row/Column labels)**

In [0]:
## Label based indexing make more sense for column subsetting
#Select only venue and winner columns
subset1 = ipl_final.loc[:,['venue','winner']]
subset1.head(3)

                                                      venue winner
match_id
2008_2    I.S. Bindra Punjab Cricket Association Stadium...    CSK
2008_3                      Feroz Shah Kotla Stadium, Delhi     DD
2008_4                Wankhede Stadium, Mumbai, Maharashtra    RCB

In [0]:
## For loc based subsetting using row and column indexer together is rare.
subset2 = ipl_final.loc[['2008_2','2009_2','2010_2',],['venue','winner']]
subset2.head(3)

                                                      venue winner
match_id
2008_2    I.S. Bindra Punjab Cricket Association Stadium...    CSK
2009_2                                             Newlands    RCB
2010_2                                    Brabourne Stadium     MI

## **iloc    (to subset data based on Row/Column number)**

In [0]:
## Numeric based indexing usually makes sense for row subsetting 
ipl.iloc[50:53,1:5]

    season       city        date team1_id
50    2008    Chennai  24-05-2008       RR
51    2008  Bangalore  03-05-2008      RCB
52    2008    Kolkata  25-05-2008      KXI

## **Boolean indexing (to subset based on value in each cell of the column )**
**Here we subsetting the data where the cell value in "City" column is equal to "Hyderabad"**

In [0]:
subset3 = ipl.loc[ipl['city']=='Hyderabad',:]
subset3.head(3)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
6,2008_7,2008,Hyderabad,22-04-2008,DC,DD,DC,bat,normal,0,DD,0,9,Virender Sehwag,46.0,"Rajiv Gandhi International Stadium, Hyderabad",4,IL Howell,AM Saheba
8,2008_9,2008,Hyderabad,24-04-2008,DC,RR,RR,field,normal,0,RR,0,3,Yusuf Pathan,171.0,"Rajiv Gandhi International Stadium, Hyderabad",4,Asad Rauf,MR Benson
17,2008_18,2008,Hyderabad,01-05-2008,DC,KXI,KXI,field,normal,0,KXI,0,7,Shaun Marsh,106.0,"Rajiv Gandhi International Stadium, Hyderabad",4,BR Doctrove,RB Tiffin

## **Piping of functions (for multiple criteria subsetting)**

**Basically output of first function is taken as input for the next function**
#### **Note - We are using a relational operator inside the first function to get a boolean vector (equal to the number of rows we have). Where the value will be True only if the "city" column is "Hyderabad"**

In [0]:
subset4 = ipl.loc[ipl['city']=='Chennai',:].loc[ipl['winner']=='CSK',:].loc[:,['team1_id','team2_id','winner','city']]

## This line achieves the same purpose as above
# subset4 = ipl.loc[(ipl['city']=='Chennai') & (ipl['winner']=='CSK'),:].loc[:,['team1_id','team2_id','winner','city']]

subset4.head(3)

   team1_id team2_id winner     city
7       CSK       MI    CSK  Chennai
11      KKR      CSK    CSK  Chennai
31      CSK      KXI    CSK  Chennai

### **Note**
1. In the first command we have used 3 subsetting logics in a single line
2. This can be alternatively done by chaining conditions using logical operations (&)
3. **You may realize that sometimes giving single indexer (either row or column) works. However it may not be a consistent behaviour and its a good programming practive to specify both the indexers explicitly (row and column) as it makes the code more readable later on.**

## **Replace specific values**

In [0]:
ipl['winner'].value_counts()

MI     80
CSK    79
RCB    70
KKR    68
RR     63
KXI    63
DD     56
SRH    34
DC     29
PW     12
GL      9
KTK     6
RPS     5
Name: winner, dtype: int64

In [0]:
# Lets replace DC with SRH
ipl_updated=ipl_final.replace({'DC':'SRH'}, inplace=False)

ipl_updated['winner'].value_counts()

MI     91
CSK    79
KKR    75
RCB    73
SRH    71
KXI    70
RR     63
DD     62
RPS    15
GL     13
PW     12
KTK     6
Name: winner, dtype: int64

## **Activity**
**What matches are played on 2008-04-20 and who is the winner?**

In [0]:
ipl.loc[ipl['date']=='20-04-2008',:].loc[:,['winner']]

  winner
3    RCB
4    KKR

---
## *<center>End</center>*